/*========================================================
        DARK LAYOUT
=========================================================*/
.chat-application .chat-app-window .user-chats {
  padding : 10px 20px;
  position : relative;
  text-align : center;
  height : 415px;
}
.chat-application .chat-app-window .user-chats .chats {
  padding : 0;
}
.chat-application .chat-app-window .user-chats .chats .chat-body {
  display : block;
  margin : 10px 0 0 30px;
  overflow : hidden;
}
.chat-application .chat-app-window .user-chats .chats .chat-body .chat-content {
  text-align : right;
  display : block;
  float : left;
  padding : 0.75rem 1rem;
  margin : 0 0 10px 20px;
  clear : both;
  color : #FFFFFF;
  background : -webkit-linear-gradient(208deg, #124e23, rgba(18 ,78, 35, 0.7));
  background :         linear-gradient(-118deg, #124e23, rgba(18 ,78, 35, 0.7));
  border-radius : 0.5rem;
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.chat-application .chat-app-window .user-chats .chats .chat-body .chat-content p {
  margin : 0;
}
.chat-application .chat-app-window .user-chats .chats .chat-avatar {
  float : left;
}
.chat-application .chat-app-window .user-chats .chats .chat-left .chat-avatar {
  float : right;
}
.chat-application .chat-app-window .user-chats .chats .chat-left .chat-body {
  margin : 0;
}
.chat-application .chat-app-window .user-chats .chats .chat-left .chat-content {
  text-align : right;
  float : right;
  margin : 10px 20px 10px 10px;
  color : #626262;
  background : none;
  background-color : white;
  border : 1px solid #DAE1E7;
}