body {
    text-align: right;
    direction: rtl;
}

*{
    direction: rtl !important;

}

input[type="tel"] {
    text-align: left;
    direction: ltr;
}

.text-right-dir {
    text-align: left
}

i {
    margin-left: 7px
}

.text-left-dir {
    text-align: left;
}

.text-right-dir {
    text-align: right;
}

.language {
    font-weight: 700;
}

.search-icon,
.language {
    margin-left: 15px;
}

.language:before {
    right: -9px;
}

.main-search {
    left: calc(100% + 40px);
}

.main-search.active {
    left: calc(100% + 10px);
}

.main-search input {
    padding-left: 45px;
}

.main-search button {
    left: 0;
}

.main-search:before {
    left: -10px;
}

.main-search:before {
    border-right-color: #124e23;
}

.fixed-btns {
    left: 0;
}

.fixed-icon {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.main-list ol a {
    padding-left: 35px;
}

.subcat {
    margin-right: 15px;
}

.main-list ol {
    padding-right: 15px;
}

.sec-content ol{
    padding-right: 15px;
}

#up-btn{
    left: 15px;
}


.fixed-icon{
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}


table ul {
    padding-right: 20px !important;
}

.main-content ul{
    padding-right:20px
}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 450px) {}