/*start footer*/
#up-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #124e23;
    bottom:20px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    z-index: -999;
    opacity: 0;
    /* animation: bounceOutDown 1s linear;
    -webkit-animation: bounceOutDown 1s linear; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: opacity .5s ease-in 1s,z-index .5s ease-in 1s;
    -webkit-transition: opacity .5s ease-in 1s,z-index .5s ease-in 1s;
    -moz-transition: opacity .5s ease-in 1s,z-index .5s ease-in 1s;
    -ms-transition: opacity .5s ease-in 1s,z-index .5s ease-in 1s;
    -o-transition: opacity .5s ease-in 1s,z-index .5s ease-in 1s;
}


#up-btn.active {
  z-index: 99;
  opacity: 1;

}

    #up-btn:hover{
    color: #fff;
    background: #ECBD4B;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    animation: none
}

/*end footer*/