/*start gerneral styles*/

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

body,
html {
    scroll-behavior: smooth;
}

html {
    --scrollbarBG: #eee;
    --thumbBG: #124e23;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

::selection {
    background-color: #2A8359;
    color: #fff
}

a,
button {
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

label {
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    font-size: 14.5px;
    color: #b0bac9;
}

a:focus,
button:focus,
button:active,
select:focus,
input:focus {
    outline: 0 none;
}

p {
    color: #124e23;
    font-size: 15px;
    line-height: 28px;
}

h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
    line-height: 28px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal
}

.no-full-images .owl-item img {
    width: auto
}

ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
}

.list-inline li {
    display: inline-block;
}

.list-unstyled li {
    display: block;
}

img,
object {
    max-width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

input,
button {
    font-family: 'Cairo', sans-serif;
}

select.form-control:not([size]):not([multiple]) {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0
}

.form-control {
    background: #f6f6f6;
    box-shadow: none;
    height: 40px;
    width: 100%;
    color: #124e23;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Cairo', sans-serif;
    font-size: 15px;
    border-radius: 0;
    border: 1px solid #124e23;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.form-control:focus {
    background: #f9f9f9;
    border-color: #124e23;
    color: #124e23;
    box-shadow: 0 0 8px #124e23;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

textarea.form-control {
    min-height: 150px;
    padding-top: 15px;
}

.no-marg-row {
    padding: 0;
    margin: 0
}

.starrisk {
    color: red
}

.invalid-feedback {
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
}

a,
button,
header,
.nav-icon span,
.nav-icon span:before,
.nav-icon span:after,
img,
.fixed-icon {
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

h1,
h2,
h3,
h4,
label,
.form-control,
.main-search {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gray-bg {
    background-color: #F9F9F9
}

.margin-div {
    padding-top: 50px;
    padding-bottom: 50px;
}

.margin-bottom-div {
    margin-bottom: 50px;
}

.dark-text {
    color: #323232
}

.white-text {
    color: #fff
}

.bold-text {
    font-weight: 700;
}

.full-width-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center 0;
}

.converted-img {
    display: none !important
}

.has_seudo {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

b {
    font-weight: 700;
}

.white-bg {
    background-color: #fff
}

.hirozintal-scroll {
    overflow-x: hidden;
    overflow-y: auto
}

.hirozintal-scroll::-webkit-scrollbar-track {
    background-color: #eee
}

.hirozintal-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

.hirozintal-scroll::-webkit-scrollbar-thumb {
    background-color: #dae4ff
}

.custom-btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-width: 120px;
    perspective: 400px;
    padding: 0 10px;
    background-color: transparent;
    /* -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.3))); */
    border: none;
    text-align: center;
}

.no-marg-btn {
    margin-top: 10px;
}

.custom-btn span {
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    background-color: #3bc56c;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.custom-btn span:after {
    display: block;
    content: attr(data-title);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    transition: transform 0.3s ease-in-out, background 0s .3s;
    transform-origin: 50% 0;
    transform: translate3d(0, 90%, 0) rotateX(-90deg);
    background-color: transparent;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translate3d(0, 90%, 0) rotateX(-90deg);
    -moz-transform: translate3d(0, 90%, 0) rotateX(-90deg);
    -ms-transform: translate3d(0, 90%, 0) rotateX(-90deg);
    -o-transform: translate3d(0, 90%, 0) rotateX(-90deg);
    -webkit-transition: transform 0.3s ease-in-out, background 0s .3s;
    -moz-transition: transform 0.3s ease-in-out, background 0s .3s;
    -ms-transition: transform 0.3s ease-in-out, background 0s .3s;
    -o-transition: transform 0.3s ease-in-out, background 0s .3s;
}

.custom-btn:hover span {
    background: transparent;
    transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    -webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    -moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    -ms-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    -o-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
}

.custom-btn:hover span:after {
    background-color: #f6606e;
    transition: 0.3s ease-in-out transform;
    -webkit-transition: 0.3s ease-in-out transform;
    -moz-transition: 0.3s ease-in-out transform;
    -ms-transition: 0.3s ease-in-out transform;
    -o-transition: 0.3s ease-in-out transform;
}

.sm-raduis span,
.sm-raduis span::after {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.full-width-btn {
    min-width: inherit;
    display: block;
    width: 100%
}


/* General link styles */

.sec-title {
    position: relative;
    font-size: 30px;
    z-index: 1;
    margin: 100px auto;
}

.sec-title:before {
    content: attr(data-content);
    color: #F4F6F7;
    font-size: 300%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    top: -150%;
    animation: title-effect 3s ease-in-out infinite;
    -webkit-animation: title-effect 3s ease-in-out infinite;
}

.text-center-dir {
    text-align: center;
}

.swal2-title {
    color: #124e23 !important;
    font-size: 20px !important;
    font-weight: normal !important;
    margin-bottom: 5px !important;
    text-transform: capitalize !important;
}

.swal2-styled:focus {
    box-shadow: none !important;
}

.swal2-styled {
    height: 40px;
    padding: 5px 20px 6px !important
}

.swal2-styled.swal2-confirm {
    background-color: #3bc56c !important;
}

.swal2-styled.swal2-cancel {
    background-color: red !important;
}

.swal2-styled.swal2-cancel {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px red;
}

#swal2-content {
    text-align: center;
    color: #2e384d;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 14px;
}

.first_color {
    color: #124e23
}

.second_hover:hover {
    color: #ECBD4B;
}

.error {
    width: 100%;
    margin-top: .25rem;
    font-size: 14px;
    color: #dc3545;
    font-family: 'Cairo', sans-serif;
    text-transform: lowercase;
}

.auto-icon i {
    margin: auto;
}

.two-btns {
    margin-top: 20px;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}


/*end general styles*/