/*start header*/

header {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    position: relative;
}

.logo-grid img {
    max-height: 130px;
}

.ro2ya {
    max-height: 80px;
}

.language {
    font-size: 18px;
    position: relative;
}

.language:before {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    height: 20px;
    width: 1px;
    background: #124e23;
}

.search {
    display: inline-block;
    position: relative;
}

.search-icon {
    cursor: pointer;
}

.main-search .form-group {
    margin-bottom: 0;
}

.main-search {
    position: absolute;
    top: -7px;
    width: 250px;
    opacity: 0;
    visibility: hidden;
}

.main-search:before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    top: calc(50% - 5px);
}

.main-search.active {
    opacity: 1;
    visibility: visible;
}

.main-search button {
    position: absolute;
    top: 0;
    height: 40px;
    border: none;
    background: #124e23;
    width: 40px;
    color: #fff;
}


/*end header*/