@keyframes title-effect {
    0% {
        color: #2A8359;
    }
    50% {
        color: #ECBD4B;
    }
    100% {
        color: #2A8359;
    }
}

@keyframes city-effect {
    0% {
        background-position: 0 bottom;
    }
    50% {
        background-position: 2000px bottom;
    }
    100% {
        background-position: 0 bottom;
    }
}