@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}

@media only screen and (max-width: 1200px) {
    .lg-center {
        text-align: center
    }
}

@media only screen and (max-width: 992px) {
    .md-center {
        text-align: center
    }
    .main-header h1 {
        line-height: 50px;
        font-size: 30px;
    }

    
	/* Force table to not be like tables anymore */
	.main-content table, .main-content thead, .main-content tbody, .main-content th, .main-content td, .main-content tr { 
		display: block !important; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.main-content thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.main-content tr { border: 1px solid #ccc; }
	
    .main-content 	td { 
        padding: 10px !important;
        		border: none !important; 
        border-bottom: 1px solid #eee !important; 
    width: 100% !important;
}
	
	

}

@media only screen and (max-width: 767px) {
    .sm-center {
        text-align: center
    }
}

@media only screen and (max-width: 576px) {
    .xs-center {
        text-align: center
    }
    .margin-div {
        padding: 30px 0;
    }
    .ro2ya {
        display: none;
    }
    .main-search {
        position: fixed;
        top: -7px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        background: #eee;
        padding: 15px;
    }
    .main-search.active {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .main-search:before {
        top: 100%;
        border: 5px solid transparent;
        border-right-color: transparent;
        border-top-color: #eee;
        left: 50%;
    }
    .main-header h1 br {
        display: none;
    }
    .main-header h1 {
        line-height: 35px;
        font-size: 20px;
        font-weight: 600;
    }
    .main-header {
        font-size: 16px;
        padding: 30px 0 170px;
    }
}

@media only screen and (max-width: 450px) {}