/*start index*/

.main-wrapper {
    position: relative;
    overflow: hidden;
}

.main-header {
    position: relative;
    font-size: 20px;
    line-height: 32px;
    background: #fff;
    color: #124e23;
    padding-bottom: 250px;
}

.main-header h1 {
    line-height: 70px;
    animation: title-effect 5s ease-in-out infinite;
}

.header-time {
    margin-top: 90px;
}

.header-time span {
    font-weight: 600;
    color: #fff;
    background: #124e23;
    display: inline-block;
    padding: 5px 20px 7px;
}

.main-header:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 150px;
    background: url(../images/main/header.png);
    background-repeat: repeat-x;
    z-index: 1;
    background-position: bottom center;
    background-size: contain;
    animation: city-effect 100s ease-in-out infinite;
}

.fixed-btns {
    position: fixed;
    top: 50px;
    z-index: 99;
    width: 50px;
}

.fixed-icon {
    height: 50px;
    width: 50px;
    display: block;
    margin-bottom: 5px;
    background: #124e23;
    color: #fff;
    text-align: center;
    line-height: 50px;
    transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fixed-icon:hover {
    color: #ECBD4B;
}

.fixed-btns.active .fixed-icon {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.fixed-btns.active .fixed-icon:nth-child(2) {
    transition-delay: .3s;
}

li{
    margin-bottom: 5px;
}
.main-list {
    font-size: 14px;
}

.main-list ol a {
    color: #124e23;
    margin-bottom: 10px;
    display: block;
    position: relative;
}

.pg-num {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    text-align: center;
}

.main-list h3 {
    margin-bottom: 20px;
}

.main-list ol>li {
    margin-bottom: 15px;
}

.main-list ul>li {
    margin-bottom: 5px;
}

.main-list ol>li>a:first-of-type {
    font-weight: 700;
    font-size: 16px;
}

.main-list ul>li {
    list-style-type: none;
}

.cat>li>a:first-of-type {
    font-weight: 700;
}

.subcat {
    margin-bottom: 5px;
}


.sec-content{
    line-height: 30px;
    font-size: 14px;
   color: #124e23;
}
.sec-content h2{
    margin-bottom: 20px;
}
.highlight{ 
    background-color:#124e23;
    color:#fff !important;

}

.main-repeated:not(:first-of-type) .sec-main-title{
    opacity: 0;
    height: 0;
    font-size: 0;
}

table{
    width: 100% !important;
    font-size: 14px !important;
    border-color: #124e23;
    color: #fff !important;
}

table,td{
    border-color: #4D8826;
    background: #4D8826;
    color: #fff !important;

}

table *{
    color: #fff !important;

}


table *{
    font-size: 14px !important;
    font-family: 'Cairo', sans-serif !important;

}

table td{
    padding:10px !important
}

table,table td,table th{
    border-color:#fff !important
}
blockquote {
    font-size: 14px;
    color: #888;
}

blockquote  a{
    color: #124e23;
}

.main-content a{
    color: #28a745;
    display: inline-block;
}

.main-content a:hover{
    color: #ECBD4B
}
/*************end pages**************/